<div
  class="bet-container"
  [ngClass]="{ disabled: (gameState.bettingDisabled$ | async) }"
>
  <div class="div" class="bet-place">
    <p class="bet-label">Bet USD</p>

    <input
      [value]="inputValue.value"
      (click)="setShowKeypad(true)"
      (focus)="onInputFocus()"
      class="bet-input"
      readonly
    />

    <div *ngIf="showKeypad.value" class="keypad">
      <div class="number-grid">
        @for (num of ['1','2','3','4','5','6','7','8','9','.','0','←']; track
        num) {
        <button
          (click)="handleKeypadInput(num)"
          class="keypad-button"
          [class.wide]="num === '←'"
          [class.confirm-button]="num === '←'"
        >
          {{ num === "←" ? "⌫" : num }}
        </button>
        }
      </div>
      <button class="confirm-button" (click)="confirmInput()">✓</button>
    </div>
  </div>

  <!-- Bet Variants -->
  <div class="bet-controls">
    <div class="bet-actions">
      <button class="action-button decrease" (click)="adjustBet(false)">
        −
      </button>
      <button class="action-button variants" (click)="toggleShowVariants()">
        <div class="stack-icon">≡</div>
      </button>
      <button class="action-button increase" (click)="adjustBet(true)">
        +
      </button>
    </div>
  </div>

  <div class="bet-variants" *ngIf="showVariants.value">
    @for (variant of betVariants; track variant) {
    <button
      (click)="selectBetVariant(variant)"
      [class.active]="currentBet.value === variant"
      class="variant-button"
    >
      {{ variant.toFixed(2) }}
    </button>
    }
  </div>
</div>
