<div>
  <app-betting />
  <app-play-button />

  <!-- <div class="game-controls">
    <button
      class="auto-game"
      (click)="toggleAutoGame()"
      [disabled]="!isGameEnabled()"
    >
      <span class="refresh-icon">↻</span>
    </button>
    <label class="auto-game-switch">
      <input
        type="checkbox"
        [ngModel]="isAutoGame()"
        (ngModelChange)="setAutoGame($event)"
        [disabled]="!isGameEnabled()"
      />
      <span>Auto Game</span>
    </label>
  </div> -->
</div>
