<div>
  <app-betting />
  <button class="auto-game">
    <i class="fa-solid fa-repeat"></i>
  </button>
  <app-play-button />

  <!-- <div class="game-controls">
    <button
      class="auto-game"
      (click)="toggleAutoGame()"
      [disabled]="!isGameEnabled()"
    >
    </button>
    <label class="auto-game-switch">
      <input
        type="checkbox"
        [ngModel]="isAutoGame()"
        (ngModelChange)="setAutoGame($event)"
        [disabled]="!isGameEnabled()"
      />
      <span>Auto Game</span>
    </label>
  </div> -->
</div>
